body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url(1548228499-Revolusi-Industri.jpg)
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
}

.content {
    text-align: justify;
}

.image-container {
    text-align: center;
    margin: 20px 0;
    
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow:  2px 5px 3px;
    cursor: pointer;
    transition: transform 0.2s;
}
img:hover {
    transform: scale(1.03);
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}







